@import "components/globals";
@import "components/intranet/header-intranet";
@import "components/intranet/select-module";
@import "components/intranet/footer-logo";
// $sideBarWidth: 0px;
// body {
//     grid-template-columns: $sideBarWidth auto;
// }
.container {
    min-height: getMainContainerHeight($headerHeight, $footerHeight);
    width: 100%;
}

p {
    margin: 0;
}

body {
    display: flex;
    flex-direction: row;
}

.side-bar {
    width: 40%;
    width: 140px;
    overflow: hidden;
    background-color: $cl-primary-1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__menu-button {
        font-size: 48px;
        color: white;
        margin: 24px 48px 0 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    &__footer {
        display: flex;
        font-size: 12px;
        color: white;
        align-items: center;
        margin-bottom: 20px;
    }
    &__profile-picture {
        width: 140px;
        text-align: center;
    }
    &__profile-data {
        display: flex;
        flex-direction: column;
        height: 50px;
        justify-content: center;
    }
    &__profile-data p {
        margin: 4px 0;
        display: none;
    }
    &__icon {
        font-size: 48px;
        color: white;
    }
    &__option {
        display: flex;
        margin-bottom: 24px;
        align-items: center;
        color: white;
    }
    &__option:hover,
    &__option:hover &__icon,
    &__menu-button:hover {
        color: $cl-secondary-1;
        cursor: pointer;
    }
    &__option i {
        width: 140px;
        text-align: center;
    }
    &__option-name {
        font-size: 28px;
        display: none;
    }
}

.document-form {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__tittle {
        margin: 100px 50px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
    }
    &__form label {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    &__form input {
        width: 100%;
        height: 25px;
        padding: 0 5px;
        margin: 20px 0;
        box-sizing: border-box;
    }
    &__button {
        width: 30%;
        align-self: flex-end;
        padding: 10px;
        background-color: $cl-primary-1;
        border: none;
        color: $cl-white;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 500ms;
    }
    &__button:hover {
        background-color: $cl-secondary-1;
    }
}

.person-data {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    &__message {
        margin: 10px 50px;
    }
    &__form {
        display: flex;
        flex-direction: column;
        width: 50%;
        align-self: center;
    }
    &__form label {
        display: flex;
        align-items: flex-start;
        flex-direction: column;
    }
    &__form input {
        width: 100%;
        height: 25px;
        padding: 0 5px;
        margin: 20px 0;
        box-sizing: border-box;
    }
    &__button {
        width: 30%;
        align-self: flex-end;
        padding: 10px;
        background-color: $cl-primary-1;
        border: none;
        color: $cl-white;
        font-size: 16px;
        cursor: pointer;
        transition-duration: 500ms;
    }
    &__button:hover {
        background-color: $cl-secondary-1;
    }
}

.select-service {
    height: calc(100vh - 30px);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    &__tittle {
        margin: 100px 50px;
    }
    &__options {
        display: flex;
        width: 100%;
        justify-content: center;
        align-content: center;
    }
    &__option {
        height: 150px;
        background-color: $cl-primary-1;
        color: $cl-white;
        border: none;
        width: 12%;
        transition-duration: 500ms;
        margin: 30px;
        font-size: 24px;
        cursor: pointer;
    }
    &__option:hover {
        background-color: $cl-secondary-1;
    }
}