@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif; }

h1 {
  font-size: 36px; }

h2 {
  font-size: 28px; }

h3 {
  font-size: 24px; }

p a .normal-font-size {
  font-size: 20px; }

body {
  background-color: #F8F8F8;
  color: #444444; }

body {
  margin: 0;
  padding: 0; }

h1 h2 h3 {
  margin: 8px 0; }

.button {
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms; }
  .button:enabled {
    outline: none; }
  .button__normal {
    min-width: 96px;
    width: 30%;
    background-color: #ED3237;
    color: #F8F8F8; }
  .button__normal:hover {
    background-color: #92DCE5; }
  .button__white {
    color: #ED3237;
    background-color: #F8F8F8;
    border: 1px solid #ED3237; }
  .button__white:hover {
    background-color: #95ED32;
    color: #646464;
    border-color: #646464; }

.label {
  min-width: 150px; }
  .label__large {
    width: 90%; }
  .label__mid {
    width: 40%;
    margin-right: 10%; }
  .label input,
  .label select {
    color: #444444;
    width: 100%;
    height: 25px;
    padding: 0 5px;
    margin: 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }

.form {
  min-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .form__tittle {
    margin: 50px 50px; }
  .form__message {
    margin: 0px 50px; }
  .form__form {
    margin: 20px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -ms-flex-item-align: center;
    align-self: center; }
  .form__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .form__form option:hover::before {
    background-color: #92DCE5; }
  .form__button {
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .form__instruction {
    color: #646464;
    font-size: 12px; }

.results-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .results-list__tittle {
    margin: 50px 0 30px 30px; }
  .results-list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 0px 30px; }
  .results-list__cycle {
    border: solid #444444 1px;
    margin: 30px; }
  .results-list__data {
    width: 100%; }
  .results-list__data th {
    padding: 10px;
    text-align: end; }
  .results-list__data td {
    padding: 10px;
    text-align: end; }
  .results-list__select-button {
    font-weight: bold;
    cursor: pointer; }

.header-intranet {
  width: 100%;
  background-color: #646464; }
  .header-intranet__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px; }
  .header-intranet__option {
    color: #F8F8F8;
    text-decoration: none;
    margin-right: 30px; }
  .header-intranet__option:hover {
    text-decoration: underline; }

@media only screen and (max-width: 900px) {
  .header-intranet__menu {
    font-size: 12px; } }

.select-module {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .select-module__tittle {
    font-size: 32px; }
  .select-module__options {
    width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 100px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .select-module__option {
    width: 150px;
    height: 200px;
    background-color: #ED3237;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px; }
  .select-module__option img {
    width: 75%;
    margin: 10px; }
  .select-module__option a {
    color: #F8F8F8;
    text-decoration: none;
    text-align: center; }
  .select-module__option:hover {
    background-color: #92DCE5;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }

@media only screen and (max-width: 900px) {
  .select-module__options {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; } }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px; }
  .footer-logo__logo img {
    width: 12em; }

.side-bar {
  position: fixed;
  width: 140px;
  overflow: hidden;
  background-color: #ED3237;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .side-bar__menu-button {
    font-size: 48px;
    color: white;
    margin: 24px 48px 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .side-bar__footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px;
    color: white;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 20px; }
  .side-bar__profile-picture {
    width: 140px;
    text-align: center; }
  .side-bar__profile-data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .side-bar__profile-data p {
    margin: 4px 0;
    display: none; }
  .side-bar__icon {
    font-size: 48px;
    color: white; }
  .side-bar__option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 24px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: white; }
  .side-bar__option:hover,
  .side-bar__option:hover .side-bar__icon, .side-bar__menu-button:hover {
    color: #92DCE5;
    cursor: pointer; }
  .side-bar__option i {
    width: 140px;
    text-align: center; }
  .side-bar__option-name {
    font-size: 28px;
    display: none; }

.person-data {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .person-data__message {
    margin: 10px 50px; }
  .person-data__form {
    margin: 48px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -ms-flex-item-align: center;
    align-self: center; }

.document-form {
  min-height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  .document-form__tittle {
    margin: 100px 50px; }
  .document-form__form {
    margin: 36px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 50%;
    -ms-flex-item-align: center;
    align-self: center; }
  .document-form__form label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  .document-form__form option:hover::before {
    background-color: #92DCE5; }
  .document-form__button {
    -ms-flex-item-align: end;
    align-self: flex-end; }

.select-service {
  height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .select-service__tittle {
    margin: 100px 50px; }
  .select-service__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .select-service__option {
    height: 150px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ED3237;
    color: #F8F8F8;
    border: none;
    width: 15%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    margin: 30px;
    font-size: 24px;
    cursor: pointer; }
  .select-service__option:hover {
    background-color: #92DCE5; }

.cycles-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100%; }
  .cycles-list__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 30px 50px; }
  .cycles-list__cycle {
    border: solid #444444 1px;
    margin: 30px; }
  .cycles-list__data {
    width: 100%; }
  .cycles-list__data th {
    padding: 10px;
    text-align: end; }
  .cycles-list__data td {
    padding: 10px;
    text-align: end; }

.select-advisory {
  height: calc(100vh - 30px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }
  .select-advisory__tittle {
    margin: 100px 50px; }
  .select-advisory__options {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center; }
  .select-advisory__option {
    height: 150px;
    padding: 15px;
    border-radius: 50%;
    background-color: #ED3237;
    color: #F8F8F8;
    border: none;
    width: 15%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    margin: 30px;
    font-size: 18px;
    cursor: pointer; }
  .select-advisory__option:hover {
    background-color: #92DCE5; }

.container {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: calc(100% - 140px);
  min-height: calc(100vh - 100px); }

.cycle-schedule {
  border-radius: 15px;
  position: fixed;
  top: 10%;
  left: 15%;
  background-color: #EEEEEE;
  padding: 50px; }
  .cycle-schedule__schedule {
    background-color: #F8F8F8; }
  .cycle-schedule__button {
    float: right;
    margin-top: 30px;
    min-width: 50px;
    width: 15%; }

.schedule {
  width: 100%;
  border-spacing: 15px; }
  .schedule th,
  .schedule td {
    min-width: 100px;
    border: solid 1px #444444;
    border-radius: 10px;
    padding: 2px;
    text-align: center; }
  .schedule__item {
    cursor: not-allowed; }
    .schedule__item__ocupped {
      background-color: #92DCE5;
      color: #646464;
      cursor: pointer;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
    .schedule__item__ocupped:hover {
      background-color: #95ED32; }

.cycle-detail {
  margin: 0 5%; }
  .cycle-detail__data {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .cycle-detail__block {
    margin: 20px 50px 20px 0;
    min-width: 300px;
    width: 40%;
    font-size: 24px; }
    .cycle-detail__block th,
    .cycle-detail__block td {
      text-align: left; }
    .cycle-detail__block th {
      padding: 10px 0; }
  .cycle-detail__actions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 20px 0; }
  .cycle-detail__button {
    min-width: 150px;
    border-radius: 15px; }

.link {
  text-decoration: none; }
  .link__normal {
    color: #646464; }
  .link__normal:hover {
    text-decoration: underline; }

.hidden {
  display: none; }
