@import "./components/globals";
@import "./components/intranet/header-intranet";
@import "./components/intranet/select-module";
@import "./components/intranet/footer-logo";
@import "./components/_side-bar.scss";
@import "./components/intranet/services/_person-data.scss";
@import "./components/intranet/services/_document-form.scss";
@import "./components/intranet/services/_select-service.scss";
@import "./components/intranet/services/cycle/_cycle-list.scss";
@import "./components/intranet/services/advisory/_select-advisory.scss";
// $sideBarWidth: 0px;
// body {
//     grid-template-columns: $sideBarWidth auto;
// }

.container {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(100% - 140px);
    min-height: getMainContainerHeight($headerHeight, $footerHeight);
}

.cycle-schedule {
    border-radius: 15px;
    position: fixed;
    top: 10%;
    left: 15%;
    background-color: $cl-gray-2;
    padding: 50px;
    &__schedule {
        background-color: $cl-white;
    }
    &__button {
        float: right;
        margin-top: 30px;
        min-width: 50px;
        width: 15%;
    }
}

.schedule {
    width: 100%;
    border-spacing: 15px;
    & th,
    & td {
        min-width: 100px;
        border: solid 1px $cl-black;
        border-radius: 10px;
        padding: 2px;
        text-align: center;
    }
    &__item {
        cursor: not-allowed;
        &__ocupped {
            background-color: $cl-secondary-1;
            color: $cl-gray-1;
            cursor: pointer;
            transition-duration: 500ms;
        }
        &__ocupped:hover {
            background-color: $cl-primary-3;
        }
    }

}