@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}


/* Estilos del header para las paginas de inicio de sesión */

.login-header {
    height: 50px;
    display: flex;
    justify-content: flex-end;
}

.login-header__menu {
    font-size: 16px;
    margin-right: 10px;
    display: flex;
}

.login-header_enlace {
    color: #b6b6b6;
    text-decoration: none;
    display: block;
    margin: auto;
}

.login-header_enlace:hover {
    text-decoration: underline;
    color: #9b9b9b;
}


/* fin del login-header */


/* login */

.login {
    min-height: calc(100vh - 100px);
    display: flex;
}

.login-container {
    min-height: calc(100vh - 400px);
    width: 50%;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    border-radius: 25px;
    padding: 60px;
    -webkit-box-shadow: 0px 3px 15px 0px rgba(109, 109, 109, 0.5);
    -moz-box-shadow: 0px 3px 15px 0px rgba(109, 109, 109, 0.5);
    box-shadow: 0px 3px 15px 0px rgba(109, 109, 109, 0.5);
}

.login-container__content {
    grid-column-start: 1;
    display: flex;
    flex-direction: column;
}

.login-container_form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin: 40px 0;
    width: 80%;
    align-items: center;
}

.login-container_form label {
    align-self: flex-start;
}

.login-container_tittle {
    font-size: 32px;
    font-weight: normal;
    margin: 0;
}

.login-container_text {
    font-size: 20px;
    margin: 48px 0;
    width: fit-content;
}

.login-container_input {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    border: solid #444444 1px;
    padding: 5px 10px;
    margin: 15px 0;
}

.login-container_input:focus {
    outline-color: transparent;
    border-color: #92DCE5;
}

.login-container_button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 8px 0;
    border-radius: 15px;
    border: none;
    background-color: #ED3237;
    color: #F8F8F8;
    font-size: 16px;
    transition-duration: 500ms;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

.login-container_button_right {
    margin-right: 0;
}

.login-container_button:hover {
    background: #ff7176;
}

.login-container__logo {
    grid-column-start: 2;
    display: flex;
    justify-content: flex-end;
}

.login-container__logo img {
    width: 60%;
    margin: 0;
}

@media only screen and (max-width: 650px) {
    .login-container {
        width: 100%;
        box-shadow: none;
    }
    .login-container__content {
        grid-column-end: 3;
        order: 1;
    }
    .login-container_form {
        width: 100%;
    }
    .login-container__logo {
        order: 0;
        grid-column: 1 / 3;
        width: 100%;
        margin: 10px;
        justify-content: center;
    }
    .login-container_input {
        width: 100%;
    }
    .login-container_tittle {
        font-size: 24px;
        text-align: center;
    }
}


/* footer */

.login-footer {
    height: 50px;
    display: flex;
}

.login-footer__menu {
    display: flex;
    font-size: 16px;
    margin-left: 10px;
}

.login-footer__menu a {
    color: #b6b6b6;
    text-decoration: none;
    margin: auto 10px;
}

.login-footer__menu a:hover {
    text-decoration: underline;
    color: #9b9b9b;
}