@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
}

.header-intranet {
    background-color: #646464;
}

.header-intranet__menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}

.header-intranet__option {
    color: white;
    text-decoration: none;
    margin-right: 30px;
}

.header-intranet__option:hover {
    text-decoration: underline;
}

.select-module {
    width: 80%;
    height: calc(100vh - 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.select-module__tittle {
    font-size: 32px;
}

.select-module__options {
    width: 80%;
    align-self: center;
    display: flex;
    justify-content: space-between;
    margin: 100px 0;
    flex-wrap: wrap;
}

.select-module__option {
    width: 150px;
    height: 200px;
    background-color: #ED3237;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
}

.select-module__option img {
    width: 75%;
    margin: 10px;
}

.select-module__option a {
    color: white;
    text-decoration: none;
    text-align: center;
}

.select-module__option:hover {
    background-color: #92DCE5;
    transition-duration: 500ms;
}

.select-module__instructions {}

.footer-logo {
    display: flex;
    justify-content: center;
}

.footer-logo__logo img {
    width: 12em;
}