@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  margin: 0; }

.header-intranet {
  background-color: #646464; }
  .header-intranet__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px; }
  .header-intranet__option {
    color: #F8F8F8;
    text-decoration: none;
    margin-right: 30px; }
  .header-intranet__option:hover {
    text-decoration: underline; }

@media only screen and (max-width: 900px) {
  .header-intranet__menu {
    font-size: 12px; } }

.select-module {
  width: 80%;
  min-height: calc(100vh - 100px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto; }
  .select-module__tittle {
    font-size: 32px; }
  .select-module__options {
    width: 80%;
    -ms-flex-item-align: center;
    align-self: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin: 100px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .select-module__option {
    width: 150px;
    height: 200px;
    background-color: #ED3237;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    border-radius: 50px;
    margin: 10px; }
  .select-module__option img {
    width: 75%;
    margin: 10px; }
  .select-module__option a {
    color: #F8F8F8;
    text-decoration: none;
    text-align: center; }
  .select-module__option:hover {
    background-color: #92DCE5;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms; }

@media only screen and (max-width: 900px) {
  .select-module__options {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0; } }

.footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 70px; }
  .footer-logo__logo img {
    width: 12em; }
