.login-presentation {
    font-size: 20px;
    @media screen and (max-width: 650px) {
        margin: 0;
    }
    width: fit-content;
    &__button {
        display: block;
        width: 100%;
        margin: 10px 0;
        padding: 8px 0;
        border-radius: 15px;
        border: none;
        background-color: #ED3237;
        color: #F8F8F8;
        font-size: 16px;
        transition-duration: 500ms;
        cursor: pointer;
        text-decoration: none;
        text-align: center;
    }
    &__button:hover {
        background: #ff7176;
    }
}