extend ../components/intranet/_template.pug
block header
	include ../components/intranet/_intranet-header.pug
block contents
	main
		section.select-module
			h1.select-module__tittle #{title}
			p.select-module__instructions #{instructions}
			.select-module__options
				- for (var i = 0; i < selectModuleOptions.length; i++)
					+selectModuleButton(optionIcons[i], selectModuleOptions[i], selectModuleOptions[i], optionLinks[i])
block footer
	footer.footer-logo
		.footer-logo__logo
			img(src="../../images/NUMERAL1.png" alt="Numeral logo 1")

