.select-advisory
    h2.select-advisory__tittle ¿Qué tipo de asesoría está buscando?
    .select-service__options
      button.select-advisory__option Asesoría grupal
      button.select-advisory__option Asesoría personalizada