.login-container
    .login-container__content
        h1.login-container__tittle Grupo Educativo Numeral
        block content
    .login-container__logo
        img(src="../../images/NUMERAL3.png" alt="Numeral logo")