.document-form
  h2.document-form__tittle ¿Con qué cliente trabajamos hoy?
  form.document-form__form(action="./")
    label.document-form__label.label.label__mid(for="documentType") Tipo de documento
      select(name="documentType")
        option(value="1") DNI
        option(value="2") Carné de extranjería
    label.document-form__label.label.label__mid(for="documentNumber") Número de documento
      input(type="text" name="documentType")
    button.document-form__button.button.button__normal(type="submit") Continuar