.select-service
    h2.select-service__tittle Seleccione un servicio para comenzar
    .select-service__options
      button.select-service__option Ciclos
      button.select-service__option Asesorías