-var title = "Bienvenido al sistema de administraci贸n del GEN"
-var instructions = "Por favor, selecciona un m贸dulo para comenzar"
-var headerMenuOptions = ["Faqs", "Reportar un problema", "Cerrar sesi贸n"]
-var selectModuleOptions = ["Atenci贸n al cliente", "Administrador", "Recursos humanos"]
-var optionIcons = ["support-icon.png", "admin-icon.png", "hr-icon.png"]
-var optionLinks = ["customer-support.html", "#", "#"]

mixin selectModuleButton(iconLink, altText, optionName, optionLink)
    .select-module__option
        a(href=""+optionLink).select-module__button 
            img.select-module__button-logo(src="../images/icons/"+iconLink alt=""+altText)
            | #{optionName}