.cycles-list
    .cycles-list__header
      p.cycles-list__message Actualmente, tenemos los siguientes ciclos disponibles
      a.cycles-list__filterBy Filtrar
    .cycles-list__cycle
      table.cycles-list__data
        tr
          th Tipo de ciclo
          th Fecha de inicio
          th Fecha de cierre
          th Vacantes
          th Area
        tr
          td Escolar
          td 01/11/2019
          td 01/12/2019
          td 4
          td Ciencias
        tr
          td(colspan='5') Desde S/ 79.90
    .cycles-list__cycle
      table.cycles-list__data
        tr
          th Tipo de ciclo
          th Fecha de inicio
          th Fecha de cierre
          th Vacantes
          th Area
        tr
          td Escolar
          td 01/11/2019
          td 01/12/2019
          td 4
          td Ciencias
        tr
          td(colspan='5') Desde S/ 79.90
    .cycles-list__cycle
      table.cycles-list__data
        tr
          th Tipo de ciclo
          th Fecha de inicio
          th Fecha de cierre
          th Vacantes
          th Area
        tr
          td Escolar
          td 01/11/2019
          td 01/12/2019
          td 4
          td Ciencias
        tr
          td(colspan='5') Desde S/ 79.90
    .cycles-list__cycle
      table.cycles-list__data
        tr
          th Tipo de ciclo
          th Fecha de inicio
          th Fecha de cierre
          th Vacantes
          th Area
        tr
          td Escolar
          td 01/11/2019
          td 01/12/2019
          td 4
          td Ciencias
        tr
          td(colspan='5') Desde S/ 79.90