extend _login-container.pug
block content
    .login-presentation
        p Bienvenido al sistema de gestión del GEN, para poder continuar por favor identifícate iniciando sesión
        p Si aún no cuentas con tus credenciales, comunícate con el administrador del sistema.
        a.login-presentation__button(href="login.html") Iniciar sesión