extend ../../components/intranet/_template.pug
block side-bar
  include ../../components/intranet/_side-bar.pug
block header
  include ../../components/intranet/_intranet-header.pug
block contents
  .results-list
    h2.results-list__tittle Nueva asesoría - Aula
    .results-list__header
      p.results-list__message Su búsqueda produjo los siguientes resultados
      a.results-list__filterBy Filtrar
    .results-list__cycle
      table.results-list__data
        tr
          th Nombre
          th Sede
          th Tipo
          th Capacidad
        tr
          td Salon P1
          td San Isidro
          td Principal
          td 6
        tr
          td(colspan='4').results-list__select-button Seleccionar ambiente
    .results-list__cycle
      table.results-list__data
        tr
          th Nombre
          th Sede
          th Tipo
          th Capacidad
        tr
          td Salon P1
          td San Isidro
          td Principal
          td 6
        tr
          td(colspan='4').results-list__select-button Seleccionar ambiente
    .results-list__cycle
      table.results-list__data
        tr
          th Nombre
          th Sede
          th Tipo
          th Capacidad
        tr
          td Salon P1
          td San Isidro
          td Principal
          td 6
        tr
          td(colspan='4').results-list__select-button Seleccionar ambiente
    .results-list__cycle
      table.results-list__data
        tr
          th Nombre
          th Sede
          th Tipo
          th Capacidad
        tr
          td Salon P1
          td San Isidro
          td Principal
          td 6
        tr
          td(colspan='4').results-list__select-button Seleccionar ambiente
block footer