extends ../customer-support.pug
block contents
  .cycle-schedule
    table.schedule.cycle-schedule__schedule
      tr
        th Hora
        th Lunes
        th Martes
        th Miércoles
        th Jueves
        th Viernes
        th Sábado
        th Domingo
      tr
        td.schedule__time 8 - 9
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 9 - 10
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 10 - 11
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 11 - 12
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time.schedule__item 12 - 13
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td
      tr
        td.schedule__time 13 - 14
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 14 - 15
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 15 - 16
        td.schedule__item__ocupped Álg.
        td.schedule__item
        td.schedule__item__ocupped Trig.
        td.schedule__item
        td.schedule__item__ocupped Geom.
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 17 - 18
        td.schedule__item__ocupped Álg.
        td.schedule__item
        td.schedule__item__ocupped Trig.
        td.schedule__item
        td.schedule__item__ocupped Geom.
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 18 - 19
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
      tr
        td.schedule__time 19 - 20
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
        td.schedule__item
    button.cycle-schedule__button.button.button__normal(type="button") Cerrar
block footer