extend ../../components/intranet/_template.pug
block side-bar
  include ../../components/intranet/_side-bar.pug
block header
  include ../../components/intranet/_intranet-header.pug
block contents
  include ../../components/intranet/services/_student-person-data.pug
block footer