.form {
  min-height: calc(100vh - 30px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__tittle {
    margin: 50px 50px;
  }
  &__message {
    margin: 0px 50px;
  }
  &__form {
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    align-self: center;
  }
  &__label {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }
  &__form option:hover::before {
    background-color: $cl-secondary-1;
  }
  &__button {
    align-self: flex-end;
  }
  &__instruction {
    color: $cl-gray-1;
    font-size: $extra-small;
  }
  &__extra-option {
    margin: 0;
    font-size: $extra-small;
    align-self: flex-end;
    cursor: pointer;
    font-weight: bold;
  }
  &__extra-option:hover {
    color: $cl-secondary-1;
  }
}
