head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="../css/modules.css")
    link(rel="stylesheet" href="../css/customer-support.css")
    script(src="https://kit.fontawesome.com/b02b8397bc.js" crossorigin="anonymous")
    title Elegir módulo