extend ../components/login/_template.pug
block header
    include ../components/login/_login-header.pug
block contents
    include ../components/login/_login-presentation.pug
block footer
    include ../components/login/_login-footer.pug